{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur Educavision Symfony !</h1>
    <p>Ceci est la page d'accueil par défaut.</p>
{% endblock %}
