/*=====================  Premery bg color =====================*/
:root {
	--primary: #4c1864;
	--sc-primary: #EFBB20;
}

/* Hex */
.bg-primary,
.btn,
.comments-area .comment-form p input[type="submit"],
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.feature-filters .active>[class*="btn"],
.list-num-count>li:before,
.pagination-bx.primary .pagination>li>a,
.pagination-bx.primary .pagination>li>span,
button.back-to-top,
.rev-btn {
	background-color: #4c1864;
}

/*=====================  Premery text color =====================*/
a,
.text-primary,
.primary li:before,
.menu-links .nav>li.active>a,
.menu-links .nav>li:hover>a,
.menu-links .nav>li .mega-menu>li ul a:hover,
.menu-links .nav>li .sub-menu li:hover>a,
footer a:active,
footer a:focus,
footer a:hover,
footer h1 a,
footer h2 a,
footer h3 a,
footer h4 a,
footer h5 a,
footer h6 a,
footer p a,
.testimonial-1 .testimonial-position,
.acod-head a:after,
.acod-head a,
.acod-head a:hover,
.acod-head a.collapsed:hover,
.ttr-tabs .nav-tabs>li>a i,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.btn.outline,
.btn-link:hover {
	color: #4c1864;
}

.ovpr-light:after,
.ovpr-middle:after,
.ovpr-dark:after,
.ovpr:after,
.bg-primary {
	background-color: #4c1864;
}

.ttr-notify-header::after,
.widget-bg1,
.ttr-search-bar,
.ttr-header,
.ovpr-dark:after,
.pricingtable-main,
.account-head:after {
	background: linear-gradient(45deg, #4c1864 0%, #6a2c85 100%);
}